@import "tailwindcss";

* {
    font-family: "Google Sans", sans-serif !important;
}

@custom-variant dark (&:where(.dark, .dark *));

html,
body {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar,
.hide::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}

@theme {
    --color-primary-50: #fef4f2;
    --color-primary-100: #fee7e2;
    --color-primary-200: #fed3ca;
    --color-primary-300: #fbb5a6;
    --color-primary-400: #f78972;
    --color-primary-500: #ee6345;
    --color-primary-600: #db4a2b;
    --color-primary-700: #b8381d;
    --color-primary-800: #98321c;
    --color-primary-900: #7e2f1e;
    --color-primary-950: #44150b;
}
html {
    scroll-behavior: smooth;
}

/* Nav link hover underline */
.nav-link {
    position: relative;
}
.nav-link::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 3px;
    @apply bg-primary-500 text-base;
    transition: width 0.3s ease;
    border-radius: 10px;
}
.nav-link:hover::after {
    width: 100%;
}
/* Mobile menu */
#mobile-menu {
    transition:
        max-height 0.4s ease,
        opacity 0.4s ease;
}

/* Blockquote pull */
.pull-quote {
    border-left: 3px solid #ee6345;
}
